$c-black: #3C3C3C;
$c-dark: #262626;
$c-dark-grey: #949494;
$c-grey-light: #F4F4F4;
$c-line: #EFEFEF;
$c-grey: #E5E5E5;
$c-beige: #CAC0B7;
$c-red: #F42C50;

$w-xxl-desktop: 1451px;
$w-large-desktop: 1201px;
$w-nb: 1320px;
$w-desktop: 992px;
$w-tablet: 768px;
$w-large-mobile: 576px;
$w-mobile: 414px;

@mixin bp($point) {
  @if $point == s {
    @media (min-width: $w-mobile) {
      @content;
    }
  } @else if $point == m {
    @media (min-width: $w-tablet) {
      @content;
    }
  } @else if $point == l {
    @media (min-width: $w-desktop) {
      @content;
    }
  } @else if $point == xl {
    @media (min-width: $w-large-desktop) {
      @content;
    }
  } @else if $point == nb {
    @media (min-width: $w-nb) {
      @content;
    }
  } @else if $point == xxl {
    @media (min-width: $w-xxl-desktop) {
      @content;
    }
  } @else if $point { // allows custom breakpoints
    @media (min-width: $point) {
      @content;
    }
  }
}

@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 576px) and (max-width: 767px) {
    @content;
  }
}

@mixin xs {
  @media (min-width: 320px) and (max-width: 575px) {
    @content;
  }
}