.header {
  display: flex;
  width: 100%;

  @include bp(l) {
    background: $c-grey;
  }

  &Logo {
    padding: 21px 16px;
    box-sizing: border-box;

    &-image {
      width: 86px;
      display: block;
    }

    @include bp(l) {
      padding: 50px 43px;
      margin-left: 88px;
      background: white;

      &-image {
        width: 223px;
      }
    }
  }

  &Menu {
    flex-grow: 1;
    position: relative;

    &Mobile {
      background: $c-beige;
      display: flex;
      align-items: center;
      height: 100%;
      box-sizing: border-box;
      padding: 20px 24px;

      @include bp(xl) {
        display: none;
      }

      &-name {
        font-size: 10px;
        line-height: 13px;
        color: white;
        text-transform: uppercase;
        margin-left: 18px;
      }
    }

    &List {
      display: none;
      position: absolute;
      z-index: 3;
      background: $c-beige;
      box-sizing: border-box;
      padding: 20px 24px;
      margin: 0;
      width: 100%;
      list-style: none;

      @include bp(xl) {
        display: flex;
        justify-content: center;
        height: 100%;
        background: white;
        padding: 0;
        z-index: 1;
      }
    }

    &Item {
      &-link {
        color: $c-black;
      }

      @include bp(xl) {
        flex-grow: 1;
        position: relative;

        &:before {
          content: '';
          background: $c-red;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 5px;
          width: 0;
          transition: 0.3s ease-in-out width;
        }

        &.is-active:before,
        &:hover:before {
          width: 100%;
        }

        &-link {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.05);
          border-left: 1px solid rgba(0, 0, 0, 0.05);
          font-weight: bold;
          font-size: 15px;
          line-height: 19px;
          text-transform: uppercase;
          text-align: center;
          box-sizing: border-box;
          padding: 15px;
        }
      }
    }
  }

  &Extra {
    &Card {
      display: none;

      @include bp(l) {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        position: relative;
        width: 60px;
        height: 60px;
        box-sizing: border-box;

        &-count {
          position: absolute;
          right: -10px;
          top: -10px;
          font-weight: 900;
          font-size: 14px;
          line-height: 1;
          background: $c-red;
          color: white;
          padding: 4px 12px 7px 12px;
        }
      }
    }

    &Search {
      background: $c-grey-light;
      height: 100%;
      position: relative;

      @include bp(l) {
        background: none;
      }

      &-icon {
        box-sizing: border-box;
        padding: 22px;
        width: 60px;
        height: auto;
        display: block;

        @include bp(l) {
          padding: 19px;
          background: white;
          margin: 0 32px
        }
      }

      &-field {
        width: 200px;

        &Wrap {
          display: none;
          position: absolute;
          right: 0;
          top: 100%;
          padding: 20px;
          box-sizing: border-box;
          background: $c-grey-light;
          z-index: 2;

          @include bp(l) {
            right: 32px;
            background: white;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);;
          }
        }
      }
    }

    &Langs {
      display: none;

      @include bp(l) {
        display: block;
        position: relative;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: $c-black;
      }

      ul {
        display: none;

        @include bp(l) {
          position: absolute;
          margin: 0;
          padding: 0;
          list-style: none;
          padding: 10px;
          background: white;

          a {
            color: $c-black;
          }
        }
      }

      @include bp(l) {
        &:hover {
          ul {
            display: block;
          }
        }
      }
    }

    &Wrap {
      @include bp(l) {
        padding: 40px 43px;
        display: flex;
        align-items: center;
      }
    }
  }
}