.mainScreen {
  background: $c-grey;
  padding-bottom: 44px;
  position: relative;

  @include bp(l) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &-title {
    box-sizing: border-box;
    margin: 0;
    padding: 20px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $c-black;
    max-width: 75%;
    position: relative;
    z-index: 1;

    @include bp(l) {
      padding: 77px 0 77px 88px;
      font-size: 48px;
      line-height: 60px;
    }

    &Wrap {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  &-bg {
    content: '';
    background: white;
    flex: 0 0 60px;
    position: relative;

    @include bp(l) {
      flex-basis: 40%;
      display: flex;
      align-items: center;
    }

    @include bp(xl) {
      &:before {
        content: '';
        width: 35%;
        height: 1px;
        background: $c-line;
        display: block;
        position: relative;
        z-index: 1;
      }

      &:after {
        content: '';
        width: 55vw;
        height: 100vh;
        background: white;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .slick-arrow {
      font-size: 0;
      z-index: 1;
      position: absolute;
      margin: auto 0;
      top: 0;
      bottom: 0;
      right: 75px;
      background: url(../img/icons/arrowLeft-black.svg) no-repeat center center white;
      background-size: 5px;
      width: 37px;
      height: 37px;
      border-radius: 50%;
      border: 5px solid $c-grey;

      &.slick-next {
        right: 42px;
        transform: rotate(180deg);
      }

      @include bp(l) {
        width: 85px;
        height: 85px;
        background-size: 11px;
        right: 250px;

        &.slick-next {
          right: 159px;
        }
      }
    }
  }

  &Links {
    &-categories {
      padding: 20px 9px 0;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      box-sizing: border-box;

      @include bp(l) {
        padding: 0 58px 0;
      }

      &Item {
        width: 50%;
        box-sizing: border-box;
        padding: 0 7px 15px;
        text-decoration: none;

        @include bp(l) {
          padding: 0 30px 60px;
        }

        &-image {
          height: 40px;
          width: auto;

          @include bp(l) {
            height: 80px;
          }
        }

        &-name {
          font-size: 14px;
          line-height: 18px;
          font-weight: 700;
          color: $c-black;
          margin-left: 18px;

          @include bp(l) {
            margin-left: 0;
            margin-top: 35px;
            font-size: 18px;
            line-height: 23px;
          }
        }

        &Wrap {
          background: white;
          box-sizing: border-box;
          padding: 20px 17px;
          display: flex;
          align-items: center;
          position: relative;

          @include bp(l) {
            padding: 50px 15px 30px;
            flex-direction: column;
          }

          &:before {
            content: '';
            background: $c-red;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 0;
            transition: 0.3s ease-in-out width;
          }

          &:hover:before {
            width: 100%;
          }
        }
      }
    }

    &-gallery {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $c-black;
      box-sizing: border-box;
      padding: 26px 34px;
      border-right: 15px solid $c-red;
      margin: 0 16px;

      &.is-desktop {
        display: none;
      }

      @include bp(l) {
        width: 100%;
        margin: 0;
      }

      @include bp(xl) {
        margin-left: 88px;
        margin-right: 0;
        padding: 60px 60px 60px 70px;
        margin-top: auto;
        width: auto;

        &.is-mobile {
          display: none;
        }

        &.is-desktop {
          display: flex;
        }
      }

      &-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 10px;

        @include bp(l) {
          font-size: 30px;
          line-height: 38px;
          margin-bottom: 27px;
        }
      }

      &-text {
        font-weight: 700;
        font-size: 10px;
        line-height: 13px;
        text-transform: uppercase;
        color: $c-dark-grey;

        @include bp(l) {
          font-size: 14px;
          line-height: 18px;
        }
      }

      &-link {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 5px solid $c-dark;
        border-radius: 50%;
        box-sizing: border-box;
        flex: 0 0 auto;

        @include bp(l) {
          width: 80px;
          height: 80px;
        }

        &Image {
          width: 7px;

          @include bp(l) {
            width: 11px;
          }
        }
      }
    }

    &Wrap {
      @include bp(l) {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      @include bp(xl) {
        width: 38%;
      }
    }
  }

  &Slider {
    padding: 0 16px;

    @include bp(l) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }

    @include bp(xl) {
      width: 62%;
    }

    @include bp(nb) {
      padding-right: 100px;
    }

    @include bp(xxl) {
      padding-right: 159px;
    }

    &-image {
      width: 100%;
    }

    &.slick-slider {
      position: static;
    }
  }

  &-label {
    display: none;

    @include bp(nb) {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 18px;
      font-weight: 700;
      text-transform: uppercase;
      transform: rotate(90deg);
      position: absolute;
      right: -5%;
      bottom: 30%;

      @include bp(xxl) {
        right: -2.5%;
      }

      &:after {
        content: '';
        width: 90px;
        height: 1px;
        background: $c-line;
        display: block;
        position: relative;
        z-index: 1;
        margin-left: 45px;
      }
    }
  }
}