//@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,900&display=swap');
@import "./slick/slick";

@import "deps";
@import "header";
@import "mainScreen";

* {
    outline: none !important;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    color: $c-black;
    font-weight: 400;
    line-height: 1.3;
}